.container
{
    margin: 0%;
    height: 70px;
    padding: 0%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(164, 98, 165);
    border-radius: 10px;
    z-index: 9999;
}
.logo{
    font-weight: bold;
    font-size: 22px;
}

.link{
    display: inline-flex;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.logout{
    padding: 5px;
    margin: 15px;
    border: none;
    background-color: #cb234d;
    color: beige;
    cursor: pointer;
    border-radius: 5px;
}
/* 
.hover.logout
{
    
} */

.profile
{
    padding: 15px;
}